/* Universal styles */

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

#main-content {
  position: relative;
  top: 60px;
}

.media-container {
  display: block;
  height: auto;
  overflow: hidden;
}

/* Nav styles */

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  background-color: white;
}

nav img {
  padding: 0 1rem 0 1.5rem;
  height: 75%;
  width: auto;
}

nav .logo-light {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  flex-grow: 1;
}

nav .logo-heavy {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #383D40;
}

nav .nav-items {
  font-family: 'Lato', sans-serif;
}

nav a:link {
  color: #000000;
  text-decoration: none;
}

nav a:visited {
  color: #000000;
}

nav .nav-items span:nth-child(3n) {
  padding-right: 1.5rem;
}

nav .nav-items span:nth-child(2n) {
  padding: 0 1rem;
}

/* Banner styles */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #D2D7D9;
}

#banner .media-container {
  width: 45%;
  padding: 2.5% 2%;
}

#banner .media-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin-left: 8%;
}

.splash h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  color: #383D40;
}

.splash h4 {
  font-size: 1.25rem;
  color: #383D40;
  padding: 8% 0;
  line-height: 1.1;
}

.splash-button {
  color: white;
  text-align: center;
  width: 70%;
  background-color: #383D40;
  padding: 3% 0;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.splash-button:hover {
  background-color: white;
  color: #383D40;
}

/* Information section styles */

#more-info {
  display: flex;
}

#more-info .media-container img {
  max-width: 100%;
  height: auto;
}

.info-quote {
  width: 54%;
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
  margin-left: 2%;
}

.info-links {
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
  padding-top: 1.1rem;
}

.info-image, .first-info-image {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.info-image img, .first-info-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.first-info-image {
  padding: 1rem 0 1rem 1rem;
}

.info-image {
  padding: 1rem 0 1rem 1rem;
}

.info-box {
  width: 80%;
  display: flex;
  align-items: center;
  transition: background-color 200ms ease-in;
}

.box-content {
  padding-left: 0.5rem;
  width: 80%;
}

.quote-content h2 {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 0 1.5rem 0;
  font-size: 2.1rem;
  font-weight: bold;
}

.quote-content p {
  padding-bottom: 1.5rem;
  line-height: 1.1;
  font-style: italic;
}

.quote-content figcaption {
  padding-bottom: 2rem;
}

.box-content p {
  padding: 0.5rem 0;
}

.box-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.info-box:hover {
  background-color: #D2D7D9;
}

/* Gallery styles */

#gallery {
  background-color: #D2D7D9;
}

#gallery h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
  color: #383D40;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.gallery-box {
  width: 25%;
  padding-bottom: 2rem;
}

.second-box {
  margin: 0 2rem;
}

.gallery-box-image {
  overflow: hidden;
}

.gallery-box-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery-box-text {
  background-color: white;
  padding-left: 1rem;
}

.gallery-box-text h3 {
  color: #383D40;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 1rem;
}

.gallery-box-text h4 {
  color: #757982;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.gallery-box-text p {
  color: #757982;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
