/* Universal styles */

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

#main-content {
  position: relative;
  top: 60px;
}

.media-container {
  display: block;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  #main-content {
    top: 0;
  }
}

/* Nav styles */

.desktop {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  z-index: 5;
  background-color: white;
}

@media only screen and (max-width: 620px) {
  .desktop .nav-items {
    padding-left: 2rem;
  }
}

.desktop img {
  padding: 0 1rem 0 1.5rem;
  height: 75%;
  width: auto;
}

.desktop .logo-light {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  flex-grow: 1;
}

.desktop .logo-heavy {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #383D40;
}

.desktop a:link {
  color: #000000;
  text-decoration: none;
}

.desktop a:visited {
  color: #000000;
}

.desktop .nav-items span:nth-child(3n) {
  padding-right: 1.5rem;
}

.desktop .nav-items span:nth-child(2n) {
  padding: 0 1rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
}

/* Banner styles */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #D2D7D9;
}

#banner .media-container {
  width: 45%;
  padding: 2rem 0rem 2rem 1.75rem;
}

#banner .media-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin-left: 5rem;
}

.splash h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  color: #383D40;
}

.splash h4 {
  font-size: 1.25rem;
  color: #383D40;
  padding: 8% 0;
  line-height: 1.1;
}

@media only screen and (max-width: 620px) {
  .splash h4 {
    display: none;
  }

  .splash h1 {
    padding-bottom: 1rem;
  }
}

.splash-button {
  color: white;
  text-align: center;
  width: 70%;
  background-color: #383D40;
  padding: 3% 0;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.splash-button:hover {
  background-color: white;
  color: #383D40;
}

@media only screen and (max-width: 480px) {
  #banner {
    flex-direction: column;
  }

  #banner .media-container {
    width: 100%;
    padding: 0 0;
  }

  #banner .media-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .splash {
    width: 100%;
    margin: 1rem 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .splash h1, h4 {
    margin: 0 1rem;
  }

  .splash-button {
    width: 370px;
  }

  .splash h4 {
    font-size: 1.25rem;
    color: #383D40;
    padding: 1rem 0 1rem 0;
    line-height: 1.1;
  }
}

/* Information section styles */

#more-info {
  display: flex;
  width: 100%;
  height: auto;
}

#more-info .media-container {
  width: 100%;
  padding: 2rem 1.75rem;
}

#more-info .media-container img {
  max-width: 100%;
  height: auto;
}

.info-quote {
  width: 54%;
  display: flex;
  flex-direction: column;
}

.info-links {
  display: flex;
  flex-direction: column;
  padding-top: 1.1rem;
  margin-left: 5rem;
}

.info-image, .first-info-image {
  width: 35%;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 620px) {
.info-image, .first-info-image {
  display: none;
}

.info-quote {
  width: 100%;
}

.info-links {
  margin-left: 6rem;
  justify-content: center;
}
}

.info-image img, .first-info-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.first-info-image {
  padding: 1rem 0 1rem 1rem;
}

.info-image {
  padding: 1rem 0 1rem 1rem;
}

.mobile-info-image {
  display: none;
}

.first-mobile-info-image {
  display: none;
}

.info-box {
  width: 80%;
  display: flex;
  align-items: center;
  transition: background-color 200ms ease-in;
}

.box-content {
  padding-left: 0.5rem;
  width: 80%;
}

.quote-content {
  padding-left: 1.75rem;
}

.quote-content h2 {
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 1.5rem 0;
  font-size: 2.1rem;
  font-weight: bold;
}

.quote-content p {
  padding-bottom: 1.5rem;
  line-height: 1.1;
  font-style: italic;
}

.quote-content figcaption {
  padding-bottom: 2rem;
}

.box-content p {
  padding: 0.5rem 0;
}

.box-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.info-box:hover {
  background-color: #D2D7D9;
}

@media only screen and (max-width: 480px) {

.info-quote {
    display: none;
  }

.info-links {
  padding-left: 0;
  padding-top: 0;
  height: 100%;
  margin-left: 0rem;
}

.info-image, .first-info-image {
  display: none;
}

.mobile-info-image, .first-mobile-info-image {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.mobile-info-image img, .first-mobile-info-image img {
  max-width: 100%;
  height: auto;
}

.first-mobile-info-image {
  margin-top: 1rem;
}

.mobile-info-image {
  margin-top: 1rem;
}

.info-box {
  flex-direction: column;
  height: 20%;
  width: 100%;

}

.first-info-image {
  padding: 0 0;
}

.info-image {
  padding: 0 0;
}

.box-content {
  margin-left: 16px;
}

.box-content h3 {
  padding-top: 0.5rem;
}
}

/* Gallery styles */

#gallery {
  background-color: #D2D7D9;
}

#gallery h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
  color: #383D40;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.gallery-box {
  width: 25%;
  padding-bottom: 2rem;
}

.second-box {
  margin: 0 2rem;
}

.gallery-box-image {
  overflow: hidden;
}

.gallery-box-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery-box-text {
  background-color: white;
  padding-left: 1rem;
}

.gallery-box-text h3 {
  color: #383D40;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 2rem;
}

.gallery-box-text h4 {
  color: #757982;
  text-transform: uppercase;
  padding: 0.75rem 0;
}

.gallery-box-text p {
  color: #757982;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.mobile-gallery {
  display: none;
}

@media only screen and (max-width: 480px) {
  #gallery {
    background-color: white;
  }

  .gallery-content {
    display: none;
  }

  .mobile-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-gallery-button {
    background-color: #D2D7D9;
    width: 80%;
    padding: 1rem 0 1rem 1rem;
    margin-top: 0.5rem;
  }

  .mobile-gallery-button a:link {
    color: #000000;
    text-decoration: none;
  }

  .mobile-gallery-button a:visited {
    color: #000000;
  }
}

/* Second more information section styles */

.video-info-quote {
  width: 54%;
  display: flex;
  flex-direction: column;
}

.thesis-info-links {
  display: flex;
  flex-direction: column;
  padding-top: 1.1rem;
  margin-left: 5rem;
}

.thesis-info-image, .thesis-first-info-image {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.thesis-info-image img, .thesis-first-info-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thesis-first-info-image {
  padding: 1rem 0 1rem 1rem;
}

.thesis-info-image {
  padding: 1rem 0 1rem 1rem;
}

.thesis {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
  color: #383D40;
}

#more-info .thesis-media-container  {
  width: 100%;
  padding: 2rem 1.75rem;
}

#more-info .thesis-media-container video {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  .thesis-info-links {
    display: none;
  }

  .video-info-quote {
    width: 100%;
    padding: 0 0;
  }

  #more-info .thesis-media-container {
    width: 100%;
    padding: 1rem 0 0 0;
  }

  #more-info .media-container video {
    max-width: 100%;
    height: auto;
  }

  .video-info-quote .quote-content {
    display: none;
  }

}

/* Footer styles */

footer {
  display: flex;
  font-size: 0.85rem;
  padding: 1rem 0 2rem 1.5rem;
  border-top: 1px solid #D2D7D9;
}

footer p {
  flex-grow: 1;
}

footer span {
  padding-right: 2rem;
}

@media only screen and (max-width: 480px) {
  footer {
  padding: 2rem 0 2rem 1.5rem;
  }

  footer span {
    display: none;
  }
}
